<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="image/favicon.png" type="image/png" />
    <title>Define Include</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-166889026-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-166889026-1");
    </script>
  </head>
  <body>
    <!--================Header Area =================-->
    <header class="header_area">
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="margin-top:50px;"
      >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index"
            ><img src="image/Logo.png" alt="" width="175" height="40"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="our-mission">Our Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="event">Events</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
              <li class="nav-item">
                <a class="nav-link" href="about-us">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="partners">Partners</a>
              </li>
              <li class="nav-item submenu dropdown active">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="color:black"
                  >Classroom</a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/cc/crash-course"
                      >Crash Course</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/ac/advanced-concepts"
                      >Advanced</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/ml/machine-learning"
                      >Machine Learning</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login"
                      >Web Developement</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="resources">Resources</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--================Header Area =================-->

    <!--================Breadcrumb Area =================margin-top134-->
    <section class="breadcrumb_area br_image">
      <div class="container">
        <div class="page-cover text-center">
          <h2 class="page-cover-tittle">Events</h2>
        </div>
      </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <!--================Event Blog Area=================-->
    <section class="event_blog_area section_gap">
      <div class="container">
        <div class="row event_two">
          <div class="col-md-12 event_details">
            <div class="section_title text-center">
              <h2 style="color:#F6B66C">Upcoming Events</h2>
            </div>
            <h1 class="event_title" style="font-size:200%;color:#95BFB1;">
              Web Development
            </h1>
            <h2 class="res_eve_des" style="font-size:150%; color:#EE827F">
              Sign up before 9/2
            </h2>
            <ul
              class="list_style calendar_category event_category"
              style="padding-bottom:10px;"
            >
              <li><i class="lnr lnr-calendar-full"></i>September 5-November 14</li>
              <li><i class="lnr lnr-laptop"></i>Remote</li>
            </ul>
            <h2 class="res_eve_des" style="font-size:150%; color:#EE827F">
              Description
            </h2>
            <p style="margin-bottom:20px; margin-top:20px;">
              You use websites every day for activities like accessing your school
              assignments and posting on social media, but what exactly is a website
              and how are they created? Web development is a versatile skill that
              gives creators the opportunity to express themselves creatively through
              code. Almost every interest has an application in web development.
              Whether you’re interested in entrepreneurship, activism, or anything
              in between, there is a place for you in web development. Join us for
              this 2.5 month class to learn the web development skills you’ll need
              to put your big idea into motion. Live classes will be held on Saturday
              mornings for 1.5 hours and one project will be assigned a week that
              should take no longer than 30 minutes a day to complete.
            </p>
            <p>
              <strong
                ><b style="color:#777777">
                  In this course, you will learn:</b
                ></strong
              >
            </p>
            <ul>
              <li>HTML and CSS</li>
              <li>Javascript</li>
              <li>JQuery</li>
              <li>Libraries and Frameworks</li>
            </ul>

            <div class="section_title text-center">
              <h2 style="color:#F6B66C">Past Events</h2>
            </div>
            <p class="text-center" style="margin-top: -15px;">
              (You will be able access these courses in the Classroom tab soon.)</p>
            <h1 class="event_title" style="font-size:200%;color:#95BFB1;">
              Crash Course on Python
            </h1>
            <ul
              class="list_style calendar_category event_category"
              style="padding-bottom:10px;"
            >
              <li><i class="lnr lnr-calendar-full"></i>June 13-June 21</li>
              <li><i class="lnr lnr-laptop"></i>Remote</li>
            </ul>
            <h2 class="res_eve_des" style="font-size:150%; color:#EE827F">
              Description
            </h2>
            <p style="margin-bottom:20px; margin-top:20px;">
              Python is one of the most popular programming languages today,
              used by developers, data scientists, and software engineers. Its
              applications are endless because of Python’s abundant libraries
              and modules. One of our favorite parts of Python is how simple and
              approachable the syntax is, making it easier to learn and use.
              Whether you have never programmed before or are looking to brush
              up on your skills, this course is a great place to start. Crash
              Course on Python is a one-week long session designed to teach you
              the skills you’ll need to start your journey with Python.
            </p>
            <p>
              <strong
                ><b style="color:#777777">
                  In this course, you will learn:</b
                ></strong
              >
            </p>
            <ul style="margin-bottom:-20px;">
              <li>Data types</li>
              <li>Strings</li>
              <li>Conditionals</li>
              <li>Loops</li>
              <li>Functions</li>
              <li>Lists</li>
              <li>Dictionaries</li>
            </ul>

          </div>

          <div class="col-md-12 event_details">
            <h1 class="event_title" style="font-size:200%;color:#95BFB1;">
              Advanced Concepts in Python
            </h1>
            <ul
              class="list_style calendar_category event_category"
              style="padding-bottom:10px;"
            >
              <li><i class="lnr lnr-calendar-full"></i>June 27-July 12</li>
              <li><i class="lnr lnr-laptop"></i>Remote</li>
            </ul>
            <h2 class="res_eve_des" style="font-size:150%; color:#EE827F">
              Description
            </h2>
            <p style="margin-bottom:20px; margin-top:20px;">
              Take your Python knowledge to the next level in Advanced Python.
              You’ve only scratched the surface of what Python is capable of and
              it is time to dig deeper. We will delve into more advanced
              subjects that many Python introduction courses do not get into. We
              will make games and learn how to automate simple tasks on our
              computers, just to name a few projects. Join us for this 2-week
              course to continue your journey with Python.
            </p>
            <p>
              <strong
                ><b style="color:#777777">
                  In this course, you will learn:</b
                ></strong
              >
            </p>
            <ul style="margin-bottom:-20px;">
              <li>Object-orientated Programming</li>
              <li>Methods</li>
              <li>Inheritance</li>
              <li>Composition</li>
              <li>Modules</li>
              <li>Packages</li>
              <li>Libraries</li>
            </ul>

          </div>

          <div class="col-md-12 event_details">
            <h1 class="event_title" style="font-size:200%;color:#95BFB1;">
              Machine Learning in Python
            </h1>
            <ul
              class="list_style calendar_category event_category"
              style="padding-bottom:10px;"
            >
              <li><i class="lnr lnr-calendar-full"></i>July 25-August 9</li>
              <li><i class="lnr lnr-laptop"></i>Remote</li>
            </ul>
            <h2 class="res_eve_des" style="font-size:150%; color:#EE827F">
              Description
            </h2>
            <p style="margin-bottom:20px; margin-top:20px;">
              How does Netflix know exactly what to recommend for you to watch?
              Is it possible for cars to drive themselves? Can Instagram train
              machines to recognize cyberbullying and delete offensive comments?
              These are all answers we will address in Machine Learning in
              Python. The course is designed to be an introduction to the
              fascinating field of ML using the skills we acquired in previous
              sessions. You will learn about what machine learning is, does, and
              how you can do it too. Join us for this two-week introductory
              course on machine learning.
            </p>
            <p>
              <strong
                ><b style="color:#777777">
                  In this course, you will learn:</b
                ></strong
              >
            </p>
            <ul style="margin-bottom:55px;">
              <li>Intro to Machine Learning</li>
              <li>Exploring datasets in Python</li>
              <li>Use ML to find patterns/solve problems</li>
              <li>Supervised Learning</li>
              <li>Unsupervised Learning</li>
              <li>Real-World Applications</li>
            </ul>

          </div>
        </div>
      </div>
    </section>
    <!--================Blog Area=================-->

    <!--================ start footer Area  =================-->
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
          <h2 style="color:white; font-weight: bold; font-size:200%">
            def include( )
          </h2>
          <p>
            A summer program for middle school and high school girls to gain new
            skills in various computer science topics.
          </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
          <div class="col-md-4">
            <ul class="pages">
              <li><a href="our-mission">Our Mission</a></li>
              <li><a href="event">Calendar</a></li>
              <li><a href="resources">Resources</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list">
              <li><a href="about-us">About Us</a></li>
              <li><a href="contact">Get Involved</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 footer-ns animated fadeInRight">
          <h4 style="color:white; font-weight: bold;">Newsletter</h4>
          <p>Subscribe to emails about upcoming events</p>
          <form name="submit-to-google-sheet" class="input-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" id="submit-form" type="submit">
                <div class="glyphicon glyphicon-envelope"></div>
              </button>
            </span>
          </form>
          <p id="email-conf"><br />Thanks for subscribing!</p>
        </div>
        <!-- /input-group -->
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>

    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/flipclock/timer.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/custom.js"></script>

    <script>
      const scriptURL =
        "https://script.google.com/macros/s/AKfycbxY_U44D0S3VHyvYlTKxDpwsdP2xliioHcufUcEZnxaei-ehnYL/exec";
      const form = document.forms["submit-to-google-sheet"];

      form.addEventListener("submit", e => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then(document.getElementById("email-conf").removeAttribute("id"))
          .catch(error => console.error("Error!", error.message));
      });
    </script>
  </body>
</html>
