<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="image/favicon.png" type="image/png" />
    <title>Define Include</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-166889026-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-166889026-1");
    </script>
  </head>
  <body>
    <!--================Header Area =================-->
    <header class="header_area">
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="margin-top:50px;"
      >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index"
            ><img src="image/Logo.png" alt="" width="175" height="40"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="our-mission">Our Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="event">Events</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
              <li class="nav-item">
                <a class="nav-link" href="about-us">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="partners">Partners</a>
              </li>
              <li class="nav-item submenu dropdown active">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="color:black"
                  >Classroom</a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/cc/crash-course"
                      >Crash Course</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/ac/advanced-concepts"
                      >Advanced</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/ml/machine-learning"
                      >Machine Learning</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login"
                      >Web Developement</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="resources">Resources</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--================Header Area =================-->

    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area br_image">
      <div class="container">
        <div class="page-cover text-center">
          <h2 class="page-cover-tittle">FAQ</h2>
        </div>
      </div>
    </section>
    <!--================Breadcrumb Area =================-->
    <section class="event_blog_area section_gap">
      <div class="container">
        <div>
          <p></p>
        </div>
        <div id="preguntas">
          <div id="header">
            <h3 class="faqq">How does the program work?</h3>
            <div class="respuesta">
              <p class="faqp">
                Each course will contain a mixture of synchronous and
                asynchronous classes. There will be a 1.5-hour live lesson on
                Saturday and then weekly assignments. The assignment details will
                 be posted on the website and office hours will be provided
                during the week to provide support. Instructors will also be
                accessible by Slack or email. Students will turn in the projects
                online and receive individual feedback from the instructors.
              </p>
            </div>
            <h3 class="faqq">
              Is this program only for girls with experience programming?
            </h3>
            <div class="respuesta">
              <p class="faqp">
                No. Although the goal of this program is to provide support
                above the beginner level, every session has multiple options for
                different skill levels so we are beginner friendly! If you have
                any concerns about whether you are right for the program, send
                us an email.
              </p>
            </div>
            <h3 class="faqq">What does the program cost?</h3>
            <div class="respuesta">
              <p class="faqp">The program is 100% free.</p>
            </div>
            <h3 class="faqq">What is the time commitment?</h3>
            <div class="respuesta">
              <p class="faqp">
                We estimate that the time commitment will be 4 hours a week. The live
                lesson on Saturday will be one and a half hours. The weekly projects
                should take lesson than 2.5 hours (roughly 30 minutes a day).
              </p>
            </div>
            <h3 class="faqq">
              Is this program only for middle school and high school girls?
            </h3>
            <div class="respuesta">
              <p class="faqp">
                No. If you are interested in participating but not in middle
                school or high school, just send us an email to let us know.
                Everyone is welcome to join!
              </p>
            </div>
            <h3 class="faqq">Do I need to have my own laptop?</h3>
            <div class="respuesta">
              <p class="faqp">
                You must have a laptop or Chromebook to participate in our program.
              </p>
            </div>
            <h3 class="faqq">Do I have to go to every live lesson?</h3>
            <div class="respuesta">
              <p class="faqp">
                No. We understand that there are days when attending the live lesson
                is difficult. We do ask that you attend every live lesson you can. All
                of our live lessons are recorded and posted to the website later that day.
              </p>
            </div>
            <h3 class="faqq">How can I improve my skills?</h3>
            <div class="respuesta">
              <p class="faqp">
                Check out our resources page to find our favorite websites and
                free courses on a variety of different CS-related skills.
              </p>
            </div>
            <h3 class="faqq">
              Why are the classroom pages password-protected?
            </h3>
            <div class="respuesta">
              <p class="faqp">
                We will be posting links to Zoom meetings and our Slack on the
                class pages so to keep our students safe and our links secure,
                we decided to lock the class pages. Usernames and passwords will
                be sent to students that have signed up through email. After the
                class is done, we intend to remove the links and unlock the
                pages for public use.
              </p>
            </div>
            <h3 class="faqq">
              If I’m a high school girl and I’m passionate about computer
              science, can I help out with the sessions?
            </h3>
            <div class="respuesta">
              <p class="faqp">
                Yes! We’d love to have more members on our team. If you are
                interested in volunteering with us, send us an email!
              </p>
            </div>

            <div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--================ start footer Area  =================-->
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
          <h2 style="color:white; font-weight: bold; font-size:200%">
            def include( )
          </h2>
          <p>
            A summer program for middle school and high school girls to gain new
            skills in various computer science topics.
          </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
          <div class="col-md-4">
            <ul class="pages">
              <li><a href="our-mission">Our Mission</a></li>
              <li><a href="event">Calendar</a></li>
              <li><a href="resources">Resources</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list">
              <li><a href="about-us">About Us</a></li>
              <li><a href="contact">Get Involved</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 footer-ns animated fadeInRight">
          <h4 style="color:white; font-weight: bold;">Newsletter</h4>
          <p>Subscribe to emails about upcoming events</p>
          <form name="submit-to-google-sheet" class="input-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" id="submit-form" type="submit">
                <div class="glyphicon glyphicon-envelope"></div>
              </button>
            </span>
          </form>
          <p id="email-conf"><br />Thanks for subscribing!</p>
        </div>
        <!-- /input-group -->
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/custom.js"></script>

    <script>
      var clics = 0;

      $(document).ready(function() {
        $(".respuesta").hide();
        $("#cerrartodas").hide();

        $("h3.faqq").click(function() {
          $(this)
            .next(".respuesta")
            .toggle(
              function() {
                $(this).next(".respuesta");
              },
              function() {
                $(this)
                  .next(".respuesta")
                  .fadeIn("fast");
              }
            );

          if ($(this).hasClass("cerrar")) {
            $(this).removeClass("cerrar");
          } else {
            $(this).addClass("cerrar");
          }

          if ($(".cerrar").length >= 3) {
            $("#cerrartodas").fadeIn("fast");
          } else {
            $("#cerrartodas").hide();
            var abiertas = $(".cerrar").length;
            console.log(abiertas);
          }
        }); //Close Function Click
      }); //Close Function Ready

      $("#cerrartodas").click(function() {
        $(".respuesta").fadeOut(200);
        $("h3").removeClass("cerrar");
        $("#cerrartodas").fadeOut("fast");
      });

      const scriptURL =
        "https://script.google.com/macros/s/AKfycbxY_U44D0S3VHyvYlTKxDpwsdP2xliioHcufUcEZnxaei-ehnYL/exec";
      const form = document.forms["submit-to-google-sheet"];

      form.addEventListener("submit", e => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then(document.getElementById("email-conf").removeAttribute("id"))
          .catch(error => console.error("Error!", error.message));
      });
    </script>
  </body>
</html>
