<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="../../image/favicon.png" type="image/png" />
    <title>Define Include</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../vendors/linericon/style.css" />
    <link rel="stylesheet" href="../../css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="../../vendors/owl-carousel/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="../../vendors/lightbox/simpleLightbox.css" />
    <link
      rel="stylesheet"
      href="../../vendors/nice-select/css/nice-select.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/responsive.css" />
    <link rel="stylesheet" href="../../assets/css/uikit.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-166889026-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-166889026-1");
    </script>
  </head>
  <body>
    <!--================Header Area =================-->
    <header class="header_area">
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="margin-top:50px;"
      >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="../../index"
            ><img src="../../image/Logo.png" alt="" width="175" height="40"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../../index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../our-mission">Our Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../event">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../about-us">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../partners">Partners</a>
              </li>
              <li class="nav-item submenu dropdown active">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="color:black"
                  >Classroom</a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="../cc/crash-course"
                      >Crash Course</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="advanced-concepts">Advanced</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../ml/machine-learning"
                      >Machine Learning</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../login"
                      >Web Developement</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../resources">Resources</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--================Header Area =================-->

    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area br_image">
      <div class="container">
        <div class="page-cover text-center">
          <h2 class="page-cover-tittle">Saturday July 25</h2>
        </div>
      </div>
    </section>
    <!--================Breadcrumb Area =================-->
    <section class="event_details_area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-md-12 event_details">
            <h2
              class="res_eve_des"
              style="font-size:200%; color:#95bfb1; font-weight:bold;"
            >
              Assignments for Today
            </h2>
            <h2
              class="res_eve_des"
              style="font-size:150%; color:#EE827F; margin-top: 20px;"
            >
              Live Lesson
            </h2>
            <p style="font-weight:bold; margin-top:10px">Time: 2pm-4pm CST</p>
            <p style="font-weight:bold; margin-top:10px">
              Today, we will go over:
            </p>
            <ul style="margin-top:10px">
              <li>Intro to Machine Learning</li>
              <li>Set Up Tools</li>
              <li>Data Preprocessing</li>
              <li>Simple Linear Regression</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--================ start footer Area  =================-->
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
          <h2 style="color:white; font-weight: bold; font-size:200%">
            def include( )
          </h2>
          <p>
            A summer program for middle school and high school girls to gain new
            skills in various computer science topics.
          </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
          <div class="col-md-4">
            <ul class="pages">
              <li><a href="../../our-mission">Our Mission</a></li>
              <li><a href="../../event">Calendar</a></li>
              <li><a href="../../resources">Resources</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list">
              <li><a href="../../about-us">About Us</a></li>
              <li><a href="../../contact">Get Involved</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 footer-ns animated fadeInRight">
          <h4 style="color:white; font-weight: bold;">Newsletter</h4>
          <p>Subscribe to emails about upcoming events</p>
          <form name="submit-to-google-sheet" class="input-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" id="submit-form" type="submit">
                <div class="glyphicon glyphicon-envelope"></div>
              </button>
            </span>
          </form>
          <p id="email-conf"><br />Thanks for subscribing!</p>
        </div>
        <!-- /input-group -->
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/popper.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../js/jquery.ajaxchimp.min.js"></script>
    <script src="../../js/mail-script.js"></script>
    <script src="../../vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="../../vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="../../js/stellar.js"></script>
    <script src="../../js/custom.js"></script>
    <script src="../../assets/js/uikit.min.js"></script>
    <script>
      const scriptURL =
        "https://script.google.com/macros/s/AKfycbxY_U44D0S3VHyvYlTKxDpwsdP2xliioHcufUcEZnxaei-ehnYL/exec";
      const form = document.forms["submit-to-google-sheet"];

      form.addEventListener("submit", e => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then(document.getElementById("email-conf").removeAttribute("id"))
          .catch(error => console.error("Error!", error.message));
      });
    </script>
  </body>
</html>
