<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="../../image/favicon.png" type="image/png" />
    <title>Define Include</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css" />
    <link rel="stylesheet" href="../../vendors/linericon/style.css" />
    <link rel="stylesheet" href="../../css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="../../vendors/owl-carousel/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="../../vendors/lightbox/simpleLightbox.css" />
    <link
      rel="stylesheet"
      href="../../vendors/nice-select/css/nice-select.css"
    />
    <!-- main css -->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/responsive.css" />
    <link rel="stylesheet" href="../../assets/css/uikit.min.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-166889026-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-166889026-1");
    </script>
  </head>
  <body>
    <!--================Header Area =================-->
    <header class="header_area">
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="margin-top:50px;"
      >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index"
            ><img src="../../image/Logo.png" alt="" width="175" height="40"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../../index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../our-mission">Our Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../event">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../about-us">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../partners">Partners</a>
              </li>
              <li class="nav-item submenu dropdown active">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="color:black"
                  >Classroom</a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="../cc/crash-course"
                      >Crash Course</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="advanced-concepts">Advanced</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../ml/machine-learning"
                      >Machine Learning</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../login"
                      >Web Developement</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../../resources">Resources</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--================Header Area =================-->

    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area br_image">
      <div class="container">
        <div class="page-cover text-center">
          <h2 class="page-cover-tittle">Advanced Concepts in Python</h2>
        </div>
      </div>
    </section>
    <!--================Breadcrumb Area =================-->
    <section class="event_details_area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-md-12 event_details">
            <h2 class="res_eve_des" style="font-size:200%; color:#95bfb1">
              Welcome to Advanced Concepts in Python!
            </h2>
            <h4 style="color:#777777">June 27-July 12</h4>
            <p>
              We are glad you are here! On this page, you will find instructions
              for each day as well as starter code, presentations, recordings,
              and helpful hints. Read over the syllabus below before you get
              started to get familiar with the flow of the course.
            </p>
            <p>
              If you need any help, reach out to us through email or send a
              message on Slack. We offer office hours daily. You can find the
              times in the syllabus.
            </p>
            <h2
              class="res_eve_des"
              style="font-size:150%; color:#EE827F; margin-top: 20px;"
            >
              Jump to...
            </h2>

            <ul>
              <a
                href="#Syllabus"
                class="res_eve_des"
                data-uk-smooth-scroll="{offset: 125}"
                style="text-decoration:none"
                ><strong><b style="color:#777777;"> Syllabus </b></strong></a
              >
            </ul>
            <ul>
              <a
                href="#Daily-Assignments"
                class="res_eve_des"
                data-uk-smooth-scroll="{offset: 125}"
                style="text-decoration:none"
                ><strong
                  ><b style="color:#777777;"> Daily Assignments </b></strong
                ></a
              >
            </ul>
            <ul>
              <a
                href="#Classroom-Resources"
                class="res_eve_des"
                data-uk-smooth-scroll="{offset: 125}"
                style="text-decoration:none"
                ><strong
                  ><b style="color:#777777;"> Classroom Resources </b></strong
                ></a
              >
            </ul>

            <h2
              class="res_eve_des"
              style="font-size:150%; color:#EE827F; margin-top: 20px;"
              id="Syllabus"
            >
              Syllabus
            </h2>
            <h2
              class="res_eve_des"
              style="font-size: 100%; color:#f6b66c; margin-top: 20px;"
            >
              Course Outline
            </h2>
            <p style="margin-bottom:20px; margin-top:20px;">
              Take your Python knowledge to the next level in Advanced Python.
              You’ve only scratched the surface of what Python is capable of and
              it is time to dig deeper. We will delve into more advanced
              subjects that many Python introduction courses do not get into. We
              will make games and learn how to automate simple tasks on our
              computers, just to name a few projects. Join us for this 2-week
              course to continue your journey with Python.
            </p>
            <p>
              <strong
                ><b style="color:#777777">
                  In this course, you will learn:</b
                ></strong
              >
            </p>
            <ul>
              <li>Object-orientated Programming</li>
              <li>Methods</li>
              <li>Inheritance</li>
              <li>Composition</li>
              <li>Modules</li>
              <li>Packages</li>
              <li>Libraries</li>
            </ul>
            <h2
              class="res_eve_des"
              style="font-size: 100%; color:#f6b66c; margin-top: 20px;"
            >
              Class Structure
            </h2>
            <p>
              The class is a mixture of synchronous and asynchronous learning.
              On Saturday and Sunday, 2-hour live lessons will be held. The
              lessons are not mandatory and will be recorded, but it is
              recommended you attend to get the most out of the course. The link
              to the live lesson will be sent out in an email the day before.
              During the week, assignments will be uploaded to the website for
              you to complete. None of the assignments are mandatory, but if you
              submit all of the assignments, you will receive a certificate of
              completion at the end of the course.
            </p>
            <h2
              class="res_eve_des"
              style="font-size: 100%; color:#f6b66c; margin-top: 20px;"
            >
              Office Hours
            </h2>
            <p>
              Office hours will be held daily Monday-Friday for a period of
              time. They are not mandatory, but if you would like help or
              feedback, they are a great resource.
            </p>
            <h2
              class="res_eve_des"
              style="font-size: 100%; color:#f6b66c; margin-top: 20px;"
            >
              Submitting Work
            </h2>
            <p>
              You may submit work through the Google form on the assignment page
              or email the your work directly to us.
            </p>

            <h2
              class="res_eve_des"
              style="font-size:150%; color:#EE827F; margin-top: 20px;"
              id="Daily-Assignments"
            >
              Daily Assignments
            </h2>
            <p>
              The daily assignment page will be uploaded at 8:00 AM central
              every morning.
            </p>
            <div style="margin-top: 15px;">
              <a href="june-27" class="res_eve_des cc_daily"
                >Saturday June 27</a
              >
            </div>
            <div style="margin-top: 15px;">
              <a href="june-28" class="res_eve_des cc_daily">Sunday June 28</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="june-29" class="res_eve_des cc_daily">Monday June 29</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="june-30" class="res_eve_des cc_daily">Tuesday June 30</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-1" class="res_eve_des cc_daily">Wednesday July 1</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-2" class="res_eve_des cc_daily">Thursday July 2</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-3" class="res_eve_des cc_daily">Friday Junly 3</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-4" class="res_eve_des cc_daily">Saturday July 4</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-5" class="res_eve_des cc_daily">Sunday July 5</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-6" class="res_eve_des cc_daily">Monday July 6</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-7" class="res_eve_des cc_daily">Tuesday July 7</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-8" class="res_eve_des cc_daily">Wednesday July 8</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-9" class="res_eve_des cc_daily">Thursday July 9</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-10" class="res_eve_des cc_daily">Friday July 10</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-11" class="res_eve_des cc_daily">Saturday July 11</a>
            </div>
            <div style="margin-top: 15px;">
              <a href="july-12" class="res_eve_des cc_daily">Sunday July 12</a>
            </div>

            <h2
              class="res_eve_des"
              style="font-size:150%; color:#EE827F; margin-top: 20px;"
              id="Classroom-Resources"
            >
              Classroom Resources
            </h2>
            <p>
              Below, you will find links to resources used in the classroom
              including slide shows, recordings, and general topic sheets.
            </p>
            <ul>
              <li>
                <a
                  href="https://docs.google.com/spreadsheets/d/1s1lz49V-mdx-qKi58ImN5rlGYf-CYT-eWoYYekLfT8o/edit?usp=sharing"
                  class="res_eve_des cc_resources"
                  >Project Schedule</a
                >
              </li>
              <li>
                <a
                  href="https://docs.google.com/spreadsheets/d/13h7VWgMSvbgK2ZevxqpAxDXI_WQjtGmj07nuCYWIQqM/edit?usp=sharing"
                  class="res_eve_des cc_resources"
                  >Live Lesson and Office Hour Schedule</a
                >
              </li>
              <li>
                <a
                  href="https://docs.google.com/presentation/d/1O3AtENpbqFarXDrRoUsnwE2Y-Dx-eYTOZcHjtXN_g2Y/edit?usp=sharing"
                  class="res_eve_des cc_resources "
                  >Slide Show 6/27</a
                >
              </li>
              <li>
                <a
                  href="https://youtu.be/2w0uxwfmLn4"
                  class="res_eve_des cc_resources "
                  >Lesson Recording 6/27</a
                >
              </li>
              <li>
                <a
                  href="https://docs.google.com/presentation/d/1QeJuYuaaq_voAfd3JusCCPHdwx_RK771o2EGKQHmBBk/edit?usp=sharing"
                  class="res_eve_des cc_resources "
                  >Slide Show 6/28</a
                >
              </li>
              <li>
                <a href="https://youtu.be/PwNQfVtboVg"
                  class="res_eve_des cc_resources "
                  >Lesson Recording 6/28</a
                >
              </li>
              <li>
                <a
                  href="https://docs.google.com/presentation/d/1a1GpLv7cBik_ZP3zU8qRIZyDyRTwlj_EFo-noP-eat4/edit?usp=sharing"
                  class="res_eve_des cc_resources"
                  >Slide Show 7/1</a
                >
              </li>
              <li>
                <a href="https://youtu.be/d0_170HfjAQ" class="res_eve_des cc_resources"
                  >Lesson Recording 7/1</a
                >
              </li>
              <a
                href="https://docs.google.com/presentation/d/1p9wYGWRfVlMOcBk7LxMHf2JEXNdHwy0FO6DAX5CV33U/edit?usp=sharing"
                class="res_eve_des cc_resources"
                >Slide Show 7/5</a
              >
            </li>
            <li>
              <a href="https://youtu.be/E1JjguUK_Wk" class="res_eve_des cc_resources"
                >Lesson Recording 7/5</a
              >
            </li>
            <li>
              <a
                href="https://docs.google.com/presentation/d/1xES65suPC5XPdyvuzplwt3b6KqGiCx91hvgrxC-YyLE/edit?usp=sharing"
                class="res_eve_des cc_resources"
                >Slide Show 7/9</a
              >
            </li>
            <li>
              <a href="https://youtu.be/WTPcvrGJJmk" class="res_eve_des cc_resources"
                >Lesson Recording 7/9</a
              >
            </li>
              <li>
                <a
                  href="https://docs.google.com/document/d/1zaByZfEPkFj8Sy-w4-drtWl4zFzJvh-s2uzHBHFwNJ4/edit?usp=sharing"
                  class="res_eve_des cc_resources"
                  >Code of Conduct</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--================ start footer Area  =================-->
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
          <h2 style="color:white; font-weight: bold; font-size:200%">
            def include( )
          </h2>
          <p>
            A summer program for middle school and high school girls to gain new
            skills in various computer science topics.
          </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
          <div class="col-md-4">
            <ul class="pages">
              <li><a href="our-mission">Our Mission</a></li>
              <li><a href="event">Calendar</a></li>
              <li><a href="resources">Resources</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list">
              <li><a href="about-us">About Us</a></li>
              <li><a href="contact">Get Involved</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 footer-ns animated fadeInRight">
          <h4 style="color:white; font-weight: bold;">Newsletter</h4>
          <p>Subscribe to emails about upcoming events</p>
          <form name="submit-to-google-sheet" class="input-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" id="submit-form" type="submit">
                <div class="glyphicon glyphicon-envelope"></div>
              </button>
            </span>
          </form>
          <p id="email-conf"><br />Thanks for subscribing!</p>
        </div>
        <!-- /input-group -->
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/popper.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../../js/jquery.ajaxchimp.min.js"></script>
    <script src="../../js/mail-script.js"></script>
    <script src="../../vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="../../vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="../../js/stellar.js"></script>
    <script src="../../js/custom.js"></script>
    <script src="../../assets/js/uikit.min.js"></script>
    <script>
      const scriptURL =
        "https://script.google.com/macros/s/AKfycbxY_U44D0S3VHyvYlTKxDpwsdP2xliioHcufUcEZnxaei-ehnYL/exec";
      const form = document.forms["submit-to-google-sheet"];

      form.addEventListener("submit", e => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then(document.getElementById("email-conf").removeAttribute("id"))
          .catch(error => console.error("Error!", error.message));
      });
    </script>
  </body>
</html>
