<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="image/favicon.png" type="image/png" />
    <title>Define Include</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-166889026-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-166889026-1");
    </script>
  </head>
  <body>
    <!--================Header Area =================-->
    <header class="header_area">
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="margin-top:50px;"
      >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index"
            ><img src="image/Logo.png" alt="" width="175" height="40"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="our-mission">Our Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="event">Events</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
              <li class="nav-item">
                <a class="nav-link" href="about-us">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="partners">Partners</a>
              </li>
              <li class="nav-item submenu dropdown active">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="color:black"
                  >Classroom</a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/cc/crash-course"
                      >Crash Course</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/ac/advanced-concepts"
                      >Advanced</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/ml/machine-learning"
                      >Machine Learning</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login"
                      >Web Developement</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="resources">Resources</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--================Header Area =================-->

    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area br_image">
      <div class="container">
        <div class="page-cover text-center">
          <h2 class="page-cover-tittle">About Us</h2>
        </div>
      </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <!--================About Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="image/adison.png" alt="abou_img" />
          </div>
          <div class="col-md-6 d_flex">
            <div class="about_content flex">
              <h3 style="color:#ee827f">Adison Lampert</h3>
              <p style="font-weight: bold">Founder, Director</p>
              <p>
                Adison Lampert is a senior at the Liberal Arts and Science Academy.
                She has been a part of multiple initiatives to increase the number of women
                in STEM including her role as one of the ten US Ambassadors for Tech
                Girls 2020 and her position as president of the Women in Computer Science
                club at her school. After many years of observing the diminishing female
                population in her computer science classes, she couldn’t help
                but ask herself why. That’s when the idea for def include( ) was
                born. She hopes that her experience and knowledge about the
                challenges faced by middle school and high school girls in
                computer science can help girls like her to feel more confident
                and comfortable in their classes. She aspires to pursue a degree in
                Computer Science and eventually end up in the field of Emotion AI.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_area">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="image/juliading.JPG" alt="abou_img" />
          </div>
          <div class="col-md-6 d_flex">
            <div class="about_content flex">
              <h3 style="color:#ee827f">Julia Ding</h3>
              <p style="font-weight: bold">Co-Content Creator of Web Development, Instructor</p>
              <p>
                Julia Ding is a sophomore at the Liberal Arts and Science Academy.
                Having been fortunate enough to have had a relatively early exposure
                to computer science, she has taken a great interest in the subject
                and has been deeply involved in it ever since. She is passionate about
                increasing the diversity of females in computer science and other
                technological fields, and aims to do so first handedly. Aside from
                computer science, Julia enjoys mathematics as well as playing the cello.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_area">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="image/cierra.png" alt="abou_img" />
          </div>
          <div class="col-md-6 d_flex">
            <div class="about_content flex">
              <h3 style="color:#ee827f">Cierra Wickliff</h3>
              <p style="font-weight: bold">Outreach Manager</p>
              <p>
                Cierra Wickliff is a senior at the Liberal Arts and Science
                Academy High School. She has taken several years of computer
                science and wishes to pursue it as a career. After noticing the
                lack of female representation in the tech industry, she was
                happy to join the def include( ) team. In addition to Cierra’s
                current role, she also contributed to the design of the website.
                She hopes to inspire more girls to pursue a career in computer
                science. Besides her involvement with def include( ), she spends
                her time coding, reading, and watching youtube.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about_area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="image/lily.jpg" alt="abou_img" />
          </div>
          <div class="col-md-6 d_flex">
            <div class="about_content flex">
              <h3 style="color:#ee827f">Lily Yeazell</h3>
              <p style="font-weight: bold">Instructor</p>
              <p>
                Lily Yeazell is a senior at the Liberal Arts and Science
                Academy. She has been programming for several years and plans to
                pursue a degree in computer science. Having experienced the lack
                of women in computer science first-hand, she is a strong
                proponent of increasing diversity in computer science. Lily is
                excited to be a part of the def include( ) team and have the
                opportunity to make a difference in this amazing field. In
                addition to programming, Lily enjoys physics, baking, and figure
                skating.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="image/christelle.JPG" alt="abou_img" />
          </div>
          <div class="col-md-6 d_flex">
            <div class="about_content flex">
              <h3 style="color:#ee827f">Christelle Chatelain</h3>
              <p style="font-weight: bold">Instructor</p>
              <p>
                Christelle Chatelain is a senior at LASA. She has recently
                become very interested in the world of technology and computers,
                and hopes to one day implement it in her future career. She
                enjoys programming, however she has unfortunately noticed a lack
                of female representation in her computer science classes.
                Knowing that she wanted this to change, she joined the def
                include( ) team. Other than coding, she enjoys discovering new
                musical genres and baking desserts.
              </p>
            </div>
          </div>
        </div>
        <div>
          <center>
            <h3 style="color:#ee827f; margin-top:20px">Special Thanks To...</h3>
          </center>
          <center><h3>Kate McArdle</h3></center>
          <center><h3>James Shockey</h3></center>
          <center><h3>Aleena Taufiq</h3></center>
        </div>
      </div>
    </section>
    <!--================ start footer Area  =================-->
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
          <h2 style="color:white; font-weight: bold; font-size:200%">
            def include( )
          </h2>
          <p>
            A summer program for middle school and high school girls to gain new
            skills in various computer science topics.
          </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
          <div class="col-md-4">
            <ul class="pages">
              <li><a href="our-mission">Our Mission</a></li>
              <li><a href="event">Calendar</a></li>
              <li><a href="resources">Resources</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list">
              <li><a href="about-us">About Us</a></li>
              <li><a href="contact">Get Involved</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 footer-ns animated fadeInRight">
          <h4 style="color:white; font-weight: bold;">Newsletter</h4>
          <p>Subscribe to emails about upcoming events</p>
          <form name="submit-to-google-sheet" class="input-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" id="submit-form" type="submit">
                <div class="glyphicon glyphicon-envelope"></div>
              </button>
            </span>
          </form>
          <p id="email-conf"><br />Thanks for subscribing!</p>
        </div>
        <!-- /input-group -->
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/custom.js"></script>
    <script>
      const scriptURL =
        "https://script.google.com/macros/s/AKfycbxY_U44D0S3VHyvYlTKxDpwsdP2xliioHcufUcEZnxaei-ehnYL/exec";
      const form = document.forms["submit-to-google-sheet"];

      form.addEventListener("submit", e => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then(document.getElementById("email-conf").removeAttribute("id"))
          .catch(error => console.error("Error!", error.message));
      });
    </script>
  </body>
</html>
