<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="image/favicon.png" type="image/png" />
    <title>Define Include</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="vendors/linericon/style.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-166889026-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-166889026-1");
    </script>
  </head>
  <body>
    <!--================Header Area =================-->
    <header class="header_area">
      <nav
        class="navbar navbar-expand-lg navbar-light"
        style="margin-top:50px;"
      >
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index"
            ><img src="image/Logo.png" alt="" width="175" height="40"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="our-mission">Our Mission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="event">Events</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
              <li class="nav-item">
                <a class="nav-link" href="about-us">Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="partners">Partners</a>
              </li>
              <li class="nav-item submenu dropdown active">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="color:black"
                  >Classroom</a
                >
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/cc/crash-course"
                      >Crash Course</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/ac/advanced-concepts"
                      >Advanced</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="classroom/ml/machine-learning"
                      >Machine Learning</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login"
                      >Web Developement</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="resources">Resources</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!--================Header Area =================-->

    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area br_image">
      <div class="container">
        <div class="page-cover text-center">
          <h2 class="page-cover-tittle">Home</h2>
        </div>
      </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <!--================About Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="section_title text-center">
          <h2 style="color:#777">Welcome to</h2>
          <img src="image/Logo.png" alt="logo" class="index_logo" />
        </div>
        <div class="row">
          <div class="col-md-6 d_flex">
            <div class="about_content flex">
              <h2 class="title_color" style="color:#95BFB1">Our Mission</h2>
              <p>
                Our mission is to support young women in furthering their
                interest and knowledge in computer science through engaging
                activities and empowerment. Since 1984, the number of women
                pursuing a degree in computer science has decreased from 37% to
                18% and only 24% of the industry is women. Lots of initiatives
                and programs have started with the goal of raising those
                numbers, but haven’t had the results they desired.
              </p>
              <a href="our-mission" class="about_btn btn_hover"
                >Read Full Story</a
              >
            </div>
          </div>
          <div class="col-md-6">
            <img src="image/group-of-computers.png" alt="abou_img" />
          </div>
        </div>
      </div>
    </section>
    <!--================About Area =================-->

    <!--================Features Area =================-->
    <section class="features_area">
      <div class="row m0">
        <div class="col-md-6 features_item">
          <center>
            <h3 class="special_mobile_css">Calendar</h3>
          </center>
          <center>
            <a href="event" class="btn_hover view_btn special_mobile_css"
              >View Details</a>
          </center>
        </div>
        <div
          class="col-md-6 features_item"
          style="background-image: url('image/girls-computer-1.jpg');"
        >
          <center>
            <h3
              class="special_mobile_css"
              style="color: white; background-color:rgba(238,130,127,0.75); width:160px; "
            >
              FAQ
            </h3>
          </center>
          <center>
            <a href="faq" class="btn_hover view_btn special_mobile_css"
              >View Details</a
            >
          </center>
        </div>
        <div
          class="col-md-6 features_item"
          style="background-image: url('image/girls-computer-2.jpg'); width=100%"
        >
          <center>
            <h3
              class="special_mobile_css"
              style="color: white; background-color:rgba(238,130,127,0.75); width:160px; "
            >
              Contact Us
            </h3>
          </center>
          <center>
            <a href="contact" class="btn_hover view_btn special_mobile_css"
              >View Details</a
            >
          </center>
        </div>
        <div class="col-md-6 features_item">
          <center><h3 class="special_mobile_css">Our Staff</h3></center>
          <center>
            <a href="about-us" class="btn_hover view_btn special_mobile_css"
              >View Details</a
            >
          </center>
        </div>
      </div>
    </section>
    <!--================Features Area =================-->

    <!--================Event Blog Area=================-->
    <section class="event_blog_area section_gap">
      <div class="container">
        <div class="section_title text-center">
          <h2 style="color:#95BFB1">Upcoming Events</h2>
        </div>
        <div class="event_two">
          <div
            style="display: flex; justify-content: center;"
          >
            <div class="event_post">
              <center>
              <a href="event"
                ><h2 class="index_title">Web Development</h2></a
              >
              </center>
            <h4 style="text-align: center">September 5-November 12</h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================Blog Area=================-->

    <!--================ start footer Area  =================-->
    <footer class="footer-bs">
      <div class="row">
        <div class="col-md-4 footer-brand animated fadeInLeft">
          <h2 style="color:white; font-weight: bold; font-size:200%">
            def include( )
          </h2>
          <p>
            A summer program for middle school and high school girls to gain new
            skills in various computer science topics.
          </p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
          <div class="col-md-4">
            <ul class="pages">
              <li><a href="our-mission">Our Mission</a></li>
              <li><a href="event">Calendar</a></li>
              <li><a href="resources">Resources</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list">
              <li><a href="about-us">About Us</a></li>
              <li><a href="contact">Get Involved</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 footer-ns animated fadeInRight">
          <h4 style="color:white; font-weight: bold;">Newsletter</h4>
          <p>Subscribe to emails about upcoming events</p>
          <form name="submit-to-google-sheet" class="input-group">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Email"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" id="submit-form" type="submit">
                <div class="glyphicon glyphicon-envelope"></div>
              </button>
            </span>
          </form>
          <p id="email-conf"><br />Thanks for subscribing!</p>
        </div>
        <!-- /input-group -->
      </div>
    </footer>
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/flipclock/timer.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
      const scriptURL =
        "https://script.google.com/macros/s/AKfycbxY_U44D0S3VHyvYlTKxDpwsdP2xliioHcufUcEZnxaei-ehnYL/exec";
      const form = document.forms["submit-to-google-sheet"];

      form.addEventListener("submit", e => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then(document.getElementById("email-conf").removeAttribute("id"))
          .catch(error => console.error("Error!", error.message));
      });

      function Show(ShowID) {
        ShowID.style.display = "inline";
        document.querySelector("#right > a").innerHTML = "X";
        document.querySelector("#right > a").style.fontSize = "14px";
        document
          .querySelector("#right > a")
          .setAttribute("onclick", "Hide(left);");
      }

      function Hide(HideID) {
        HideID.style.display = "none";
        document.querySelector("#right > a").innerHTML = "+";
        document.querySelector("#right > a").style.fontSize = "22px";
        document
          .querySelector("#right > a")
          .setAttribute("onclick", "Show(left);");
      }
    </script>
  </body>
</html>
